doctype html5
html
    head
        title Login
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/admin.css')
    body
        div.container
            div.row
                div.col-md-6.col-md-offset-3
                    .logo
                        img(src="/assets_v2/img/logo.png", style="width:300px;")
                    br
                    form(action='/login', method='post')
                        div.form-group
                            label Usuário
                            input.form-control(name="username", type='text')
                        div.form-group
                            label Senha
                            input.form-control(name="password", type='password')
                        include partials/_errors
                        include partials/_success
                        div.form-group
                            input.btn.btn-primary.full-width(type='submit', value='Entrar')
