doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Teste Editora Globo
        link(href='img/favicon.144x144.png', rel='apple-touch-icon', type='image/png', sizes='144x144')
        link(href='img/favicon.114x114.png', rel='apple-touch-icon', type='image/png', sizes='114x114')
        link(href='img/favicon.72x72.png', rel='apple-touch-icon', type='image/png', sizes='72x72')
        link(href='img/favicon.57x57.png', rel='apple-touch-icon', type='image/png')
        link(href='img/favicon.png', rel='icon', type='image/png')
        link(href='img/favicon.ico', rel='shortcut icon')
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        //if lt IE 9
            script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
            script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        link(rel='stylesheet', href='/css/separate/pages/login.css')
        link(rel='stylesheet', href='/css/lib/font-awesome/font-awesome.min.css')
        link(rel='stylesheet', href='/css/lib/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')
        script(src='https://www.google.com/recaptcha/api.js')
    body
        .page-center
            .page-center-in
                .container-fluid
                    form.sign-box(action="/login" method="post")
                        .sign-avatar
                            img(src='img/logo-editora-globo.png', alt='')
                        header.sign-title Log in
                        .form-group
                            input.form-control.not-uppercase(type='text', name="username" placeholder='Usuário')
                        .form-group
                            input.form-control.not-uppercase(type='password', name="password" placeholder='Senha')
                        //.form-group
                            .checkbox.float-left
                                input#signed-in(type='checkbox')
                                label(for='signed-in') Keep me signed in
                            .float-right.reset
                                a(href='reset-password.html') Reset Password
                        include partials/_errors
                        include partials/_success
                        button.btn.btn-rounded(type='submit') Entrar
                        //p.sign-note
                            | New to our website?
                            a(href='sign-up.html') Sign up
                        //
                            <button type="button" class="close">
                            <span aria-hidden="true">&times;</span>
                            </button>
        // .page-center
        script(src='/js/lib/jquery/jquery-3.2.1.min.js')
        script(src='/js/lib/popper/popper.min.js')
        script(src='/js/lib/tether/tether.min.js')
        script(src='/js/lib/bootstrap/bootstrap.min.js')
        script(src='/js/plugins.js')
        script(type='text/javascript', src='/js/lib/match-height/jquery.matchHeight.min.js')
        script.
            $(function() {
                $('.page-center').matchHeight({
                    target: $('html')
                });
                $(window).resize(function(){
                    setTimeout(function(){
                        $('.page-center').matchHeight({ remove: true });
                        $('.page-center').matchHeight({
                            target: $('html')
                        });
                    },100);
                });
            });
        script(src='/js/app.js')
