doctype html5
html
    head
        title Login
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    body
        div.row
            div.col-md-6.col-md-offset-3
                h1 Register
                br
                form(action='/register', method='post')
                    div.form-group
                        label Nome
                        input.form-control(name = "name", type='text')
                    div.form-group
                        label Usuário
                        input.form-control(name="username", type='text')
                    div.form-group
                        label Senha
                        input.form-control(name="password", type='password')
                    include partials/_errors
                    div.form-group
                        input.btn.btn-primary(type='submit', value='Entrar')
