extends layout

block content

    .container-fluid
        .row
            .col
                section.card.mb-12
                    .card-block
                        ul.nav.nav-tabs.nav-fill
                            li.nav-item
                                a.nav-link.active(data-toggle='tab', href='#geral', role='tab', aria-controls='geral-tab', aria-selected='true') Geral
                            li.nav-item
                                a.nav-link(data-toggle='tab', href='#ocorrencias', role='tab', aria-controls='ocorrencias-tab', aria-selected='true') Ocorrências

                    .card-block#app(v-cloak)
                        #myTabContent.tab-content


                            #geral.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='geral-tab')
                                .row
                                    .col-md-12
                                        h3 Filtros
                                .row
                                    .col-md-4
                                        laebel Tipo de agrupamento
                                        select.form-control(name="group_by" v-model="group_by" v-on:change="updateMainData()")
                                            option(value="") -- Selecione --
                                            option(value="AREA") AREA
                                            option(value="MOTIVO") MOTIVO
                                            option(value="VENDEDOR") VENDEDOR
                                            option(value="CLIENTE") CLIENTE
                                            option(value="PRODUTO") PRODUTO
                                            option(value="PLANTA") PLANTA
                                            option(value="STATUS") STATUS

                                    .col-md-4
                                        laebel Filtrar por data:
                                        input.form-control(type="date", v-model="geral_date_filter", placeholder="Filtrar por data" v-on:change="updateMainData()")


                                hr
                                .row
                                    .col-md-12
                                        .row
                                            .col-md-12
                                                h4 Rupturas
                                        .row


                                            .col-md-8
                                                canvas#area_ruptura
                                            .col-md-4
                                                table.table
                                                    thead
                                                        th NOME
                                                            th QTD
                                                        th %
                                                    tbody
                                                        tr(v-for="(item, index) in main_items")
                                                            th {{ item.name }}
                                                            td {{ item.count }}
                                                            td {{ item.pct }}%

                            #ocorrencias.tab-pane.fade.show(role='tabpanel', aria-labelledby='geral-tab')

                                .row
                                    .col-md-12
                                        h5 Filtros
                                        .row
                                            .col-md-4
                                                label De
                                                input.form-control(type="month", v-model="start_period" v-on:change="updateResults()")
                                            .col-md-4
                                                label Até
                                                input.form-control(type="month", v-model="end_period" v-on:change="updateResults()")

                                hr

                                .row
                                    .col-md-6
                                        h5 Total
                                        canvas#ocorrencias_area
                                    .col-md-6(v-for="month in months")
                                        h5 {{ month }}
                                        canvas(v-bind:id="'month_'+month")

block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js")
    script(src="/components/chart.js/dist/Chart.min.js")
    script.
        window.onload = function () {

            $.ajax({
                type: 'GET',
                url: '/api/alteracoes'
            }).then(function (data) {

                data = data.all

                var ul = $("#lista");

                for(var i=0; i< data.length; i++){

                    var li = $("<li class=\"list-group-item d-flex justify-content-between align-items-center\">"+ data[i].alteracao +'<span class="badge badge-primary badge-pill">'+data[i].data_hora_human+'</span>'+ "</li>")
                    ul.append(li)

                }

                if(data.length > 0){
                    $('#modal-alteracoes').modal()
                }

            });


        }
        var today_formated = "#{today_formated}";
        var vm = new Vue({
            el: "#app",
            data: {
                main_labels: [],
                main_values: [],
                main_items: [],
                mainChart: null,
                charts: [],
                months: [],
                start_period: "",
                end_period: "",
                geral_date_filter: today_formated,
                group_by: "AREA",
            },
            mounted: function () {
                var self = this;

                self.createChart("area_ruptura", "Rupturas por area", "pie", [], [], true);

                self.updateMainData();
                self.updateData();

                setInterval(self.updateData, 30000);
                setInterval(self.updateMainData, 30000);
            },

            methods: {
                updateResults: function() {
                    this.updateData();
                },
                updateMainChart: function(labels, values) {

                    self.mainChart.data.labels = labels
                    self.mainChart.data.datasets[0].data = values
                    self.mainChart.update();

                },
                createChart: function(id, name, type, labels, values, isMain) {
                    var element = document.getElementById(id).getContext('2d');
                    var chart = new Chart(element, {
                        type: type,
                        data: {
                            labels: labels,
                            datasets: [{
                                label: name,
                                data: values,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        beginAtZero: true,
                                        min: 0
                                    }
                                }]
                            },
                        }
                    });

                    if (isMain) {
                        self.mainChart = chart;
                    }

                },
                updateMainData: function() {
                    var self = this;
                    $.ajax({
                        url: "/api/get-rupturas-grouped",
                        method: "GET",
                        data: {
                            date: self.geral_date_filter,
                            group_by: self.group_by
                        },
                        success: function (data) {
                            self.main_labels = data.labels;
                            self.main_values = data.values;
                            self.main_items = data.items;
                            self.updateMainChart(data.labels, data.values);
                        }
                    })

                },
                updateData: function () {
                    var self = this;
                    self.months = [];
                    $.ajax({
                        url: "/api/dashboard",
                        method: "GET",
                        data: {
                            start_period: self.start_period,
                            end_period: self.end_period,
                        },
                        success: function (data) {

                            self.start_period = data.start_period;
                            self.end_period = data.end_period;

                            self.createChart("ocorrencias_area", "Ocorrências por area", "pie", data.pie.pie_labels, data.pie.pie_values);

                            var index = 0;
                            for (var month of data.months) {
                                self.months.push(month.name);
                                index ++;
                            }

                            vm.$forceUpdate()

                            setTimeout(function() {

                                index = 0;
                                for (var month of data.months) {
                                    self.createChart("month_" + month.name, month.name, "bar", month.labels, month.values);
                                    index++;
                                }

                            }, 300)

                        }
                    })
                }
            }
        })
    include ./modals/alteracoes





