doctype html
html(lang='pt-BR')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title InterCorte 2016
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/styles.css')
        link(rel='stylesheet', href='css/home.css')
        link(rel='stylesheet', href='css/animate.css')
        link(rel='stylesheet', href='owl-carousel/owl.carousel.css')
        link(rel='stylesheet', href='css/jqvmap.css')
        link(rel='stylesheet', href='css/sweetalert.css')
        script(src="https://www.google.com/recaptcha/api.js?hl=pt-BR")
        include partials/_smartlook
        style.
            section.etapas .etapa {
                width: 19% !important;
            }

    body.bg-diamond
        img.bottom-separator(src="/img/separator-up.png")
        #site-wrapper.container
            .header
                include ./partials/_menu_home
                #introduction
                    img.img-responsive.wow.fadeInDown.logo-intro(src='img/logos/intercorte.png', alt='')
                    .evento-info
                        p A InterCorte - Exposição Tecnológica da Cadeia Produtiva da Carne é o principal conjunto de eventos da cadeia produtiva da carne bovina brasileira, que reúnem uma série de iniciativas em prol da pecuária ao difundir informação e tecnologia aos produtores e consumidores.
                        p.choose-etapa Para
                            span &nbsp;INSCRIÇÕES
                            | &nbsp;e mais
                            span &nbsp;INFORMAÇÕES,
                            | &nbsp;clique na etapa desejada:
                    section#etapas.etapas
                        .col-lg-10.col-centered
                            .etapas
                                a(href="/cuiaba").etapa-thumb
                                    .etapa.col-md-15
                                        .selo-container
                                            img(src='img/selos/selo-cuiaba.png', alt='')
                                        p.data
                                            | 02 e 03
                                            span de março
                                a(href="/saopaulo").etapa-thumb
                                    .etapa.col-md-15
                                        .selo-container
                                            img(src='img/selos/selo-saopaulo.png', alt='')
                                        p.data
                                            | 16 e 17
                                            span de junho
                                a(href="/campogrande").etapa-thumb
                                    .etapa.col-md-15
                                        .selo-container
                                            img(src='img/selos/selo-campogrande.png', alt='')
                                        p.data
                                            | 20 e 21
                                            span de julho
                                a(href="/jiparana").etapa-thumb
                                    .etapa.col-md-15
                                        .selo-container
                                            img(src='img/selos/selo-jiparana.png', alt='')
                                        p.data
                                            | 14 e 15
                                            span de setembro
                                a(href="/araguaina").etapa-thumb
                                    .etapa.col-md-15
                                        .selo-container
                                            img(src='img/selos/selo-araguaina.png', alt='')
                                        p.data
                                            | 19 e 20
                                            span de outubro
                            div.clearfix
        script(src='js/jquery.min.js')
        script(src='js/wow.min.js')
        script(src='js/main.js')
        script.
            new WOW().init();
        script(src = 'js/sweetalert.min.js')
        include partials/sweetalert/_errors
        include partials/sweetalert/_contato_sucesso
        include partials/_flash_hash
        include ./partials/_analytics

