doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name="apple-mobile-web-app-capable" content="yes")
        title Hair Style - Painel
        link(href='/img/favicon.144x144.png', rel='apple-touch-icon', type='image/png', sizes='144x144')
        link(href='/img/favicon.114x114.png', rel='apple-touch-icon', type='image/png', sizes='114x114')
        link(href='/img/favicon.72x72.png', rel='apple-touch-icon', type='image/png', sizes='72x72')
        link(href='/img/favicon.57x57.png', rel='apple-touch-icon', type='image/png')
        link(href='/img/favicon.png', rel='icon', type='image/png')
        link(href='/img/favicon.ico', rel='shortcut icon')
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        //if lt IE 9
            script(src='/https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
            script(src='/https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        block styles_before
        link(rel='stylesheet', href='/css/lib/lobipanel/lobipanel.min.css')
        link(rel='stylesheet', href='/css/separate/vendor/lobipanel.min.css')
        link(rel='stylesheet', href='/css/lib/jqueryui/jquery-ui.min.css')
        link(rel='stylesheet', href='/css/separate/pages/widgets.min.css')
        link(rel='stylesheet', href='/css/lib/font-awesome/font-awesome.min.css')
        link(rel='stylesheet', href='/css/lib/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='/css/marfrig.css')
        link(rel='stylesheet', href='/css/loading.css')
        link(rel='stylesheet', href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')
        block styles
        if animate
            style.
                .page-content { padding: 0 !important; }
                .site-header { display: none; }
                .side-menu { display: none; }
    body.with-side-menu.control-panel.control-panel-compact
        .loading Loading
        header.site-header
            .container-fluid
                a.site-logo(href='/')
                    img.hidden-md-down(src='/img/barber.png', alt='')
                    img.hidden-lg-down(src='/img/barber.png', alt='')
                button#show-hide-sidebar-toggle.show-hide-sidebar
                    span toggle menu
                button.hamburger.hamburger--htla
                    span toggle menu
                .site-header-content
                    .site-header-content-in
                        .site-header-shown
                            .dropdown.user-menu
                                button#dd-user-menu.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    img(src='/img/avatar-2-64.png', alt='')
                                .dropdown-menu.dropdown-menu-right(aria-labelledby='dd-user-menu')
                                    .dropdown-divider
                                    a.dropdown-item(href='/logout')
                                        span.font-icon.glyphicon.glyphicon-log-out
                                        | Sair
                            button.burger-right(type='button')
                                i.font-icon-menu-addl
                        // .site-header-shown
                        .mobile-menu-right-overlay
                        .site-header-collapsed
                            .site-header-collapsed-in
                                .dropdown.dropdown-typical
                                    .dropdown-menu(aria-labelledby='dd-header-sales')
                                        a.dropdown-item(href='#')
                                            span.font-icon.font-icon-home
                                            | Quant and Verbal
                                        a.dropdown-item(href='#')
                                            span.font-icon.font-icon-cart
                                            | Real Gmat Test
                                        a.dropdown-item(href='#')
                                            span.font-icon.font-icon-speed
                                            | Prep Official App
                                        a.dropdown-item(href='#')
                                            span.font-icon.font-icon-users
                                            | CATprer Test
                                        a.dropdown-item(href='#')
                                            span.font-icon.font-icon-comments
                                            | Third Party Test
                                //.dropdown.dropdown-typical
                                    a.dropdown-toggle.no-arr(href='/fretes/dashboard')
                                        span.font-icon.font-icon-calend
                                        span.lbl Calendário de Fretes
                                // .help-dropdown
                            // .site-header-collapsed-in
                        // .site-header-collapsed
                    // site-header-content-in
                // .site-header-content
            // .container-fluid
        // .site-header
        .mobile-menu-left-overlay
        nav.side-menu
            ul.side-menu-list
                    //li.grey
                    //    a(href='/')
                    //        i.font-icon.font-icon-dashboard
                    //        span.lbl Dashboard


                    li.grey.with-sub
                        span
                            i.fa.fa-archive
                            span.lbl Cadastros
                        ul
                            if user.tipo.includes("ADMIN")
                                li
                                    a(href='/usuarios')
                                        span.lbl Usuários
                                li
                                    a(href='/agendamentos/create')
                                        span.lbl Agendamento
                                li
                                    a(href='/servicos')
                                        span.lbl Serviços
                            else if user.tipo.includes("SECRETARIA")
                                li
                                    a(href='/agendamentos/create')
                                        span.lbl Adicionar agendamento
                                li
                                    a(href='/servicos')
                                        span.lbl Adicionar Serviço

                    if user.tipo.includes("ADMIN") || user.tipo.includes("SECRETARIA")
                        li.grey.with-sub
                            span
                                i.fa.fa-area-chart
                                span.lbl Relatorios
                            ul
                                li
                                    a(href='/servico-realizados')
                                        span.lbl Serviços Realizados
                    li.grey.with-sub
                        span
                            i.fa.fa-calendar
                            span.lbl Agenda
                        ul
                            li
                                a(href='/agendamentos')
                                    span.lbl Agenda

        .page-content
            include ./admin/partials/_errors
            include ./admin/partials/_success
            block content
            // .container-fluid
        // .page-content
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-121781101-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-121781101-1');
        script(src='/js/lib/jquery/jquery-3.2.1.min.js')
        script(src='/js/lib/popper/popper.min.js')
        script(src='/js/lib/tether/tether.min.js')
        script(src='/js/lib/bootstrap/bootstrap.min.js')
        script(src='/js/lib/sweetalert/sweetalert2.min.js')
        script(src='/js/plugins.js')
        script(type='text/javascript', src='/js/lib/jqueryui/jquery-ui.min.js')
        script(type='text/javascript', src='/js/lib/match-height/jquery.matchHeight.min.js')
        script(src="/js/chrome-extension-async.js")
        block scripts_before_app
        script(src='/js/lib/input-mask/jquery.mask.min.js')
        script(src='/js/lib/input-mask/input-mask-init.js')
        script(src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
        script(src = "/js/lib/cpf.js")
        script(src = "/js/lib/cnpj.js")
        script(src='/js/app.js')
        //script(src='/js/lib/fullcalendar/core/main.css')
        //script(src='/js/lib/fullcalendar/daygrid/main.css')

        block scripts

