doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Hair Style - Nova senha
        link(href='/img/favicon.144x144.png', rel='apple-touch-icon', type='image/png', sizes='144x144')
        link(href='/img/favicon.114x114.png', rel='apple-touch-icon', type='image/png', sizes='114x114')
        link(href='/img/favicon.72x72.png', rel='apple-touch-icon', type='image/png', sizes='72x72')
        link(href='/img/favicon.57x57.png', rel='apple-touch-icon', type='image/png')
        link(href='/img/favicon.png', rel='icon', type='image/png')
        link(href='/img/favicon.ico', rel='shortcut icon')
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        //if lt IE 9
            script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
            script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        link(rel='stylesheet', href='/css/separate/pages/login.min.css')
        link(rel='stylesheet', href='/css/lib/font-awesome/font-awesome.min.css')
        link(rel='stylesheet', href='/css/lib/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')
    body
        .page-center
            .page-center-in
                .container-fluid
                    form.sign-box.reset-password-box(action="/change-password" method="POST")
                        header.sign-title Nova senha
                        include ./admin/partials/_errors
                        include ./admin/partials/_success
                        p Bem vindo(a) #{user.name}.
                        p Por favor, escolha uma nova senha para acessar o sistema.
                        .form-group
                            input.form-control.not-uppercase(type='password', name="password" placeholder='Nova senha', required)
                        .form-group
                            input.form-control.not-uppercase(type='password', name="password_confirmation" placeholder='Confirme a nova senha', required)
                        button.btn.btn-rounded.btn-block(type='submit') Submit
        // .page-center
        script(src='/js/lib/jquery/jquery-3.2.1.min.js')
        script(src='/js/lib/popper/popper.min.js')
        script(src='/js/lib/tether/tether.min.js')
        script(src='/js/lib/bootstrap/bootstrap.min.js')
        script(src='/js/plugins.js')
        script(type='text/javascript', src='/js/lib/match-height/jquery.matchHeight.min.js')
        script.
            $(function() {
                $('.page-center').matchHeight({
                    target: $('html')
                });
                $(window).resize(function(){
                    setTimeout(function(){
                        $('.page-center').matchHeight({ remove: true });
                        $('.page-center').matchHeight({
                            target: $('html')
                        });
                    },100);
                });
            });
        script(src='/js/app.js')
