#column-toggle-wrapper {
    position: relative;
}

#column-toggle-wrapper ul {
    display: none;
    padding: 10px;
    position: absolute;
    background-color: white;
    border: 1px solid #cecece;
    z-index: 10;
    height: 300px;
    overflow: scroll;
}

ul.toggle-columns li {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

ul.toggle-columns li input {
    display: inline;
    width: 30px;
}

ul.toggle-columns li label {
    display: inline;
}

.modal-ku {
    margin-top: 50px !important;
    width: 900px;
    margin: auto;
}

input:not(.not-uppercase), textarea:not(.not-uppercase) {
    text-transform: uppercase;
}

table.dashboard-table {
    margin-top: 15px;
    width: 100%;
}

table.dashboard-table  tr td {
    padding: 0;
    padding-left: 10px;
}

table.dashboard-table tr > td:nth-child(1) {
    width: 70%
}

table.dashboard-table tr > td:nth-child(2) {
    width: 30%
}

table.dashboard-table tfoot td {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#por_planta .statistic-box>div, #por_mercado .statistic-box>div {
    height: auto;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 1px solid #ddd;
    padding: 5px;
    font-size: 13px;
}

.bootstrap-table .table thead th, .fixed-table-body .table thead th, .table thead th {
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 9px;
    background: #6ea3ca;
    color: white;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #d8e2e7;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

[v-cloak] > * { display:none }
[v-cloak]::before { content: "carregando…" }

#exp-tag {
    position: absolute;
    right: 60px;
    border: 2px solid black;
    padding: 5px 10px;
    font-weight: bold;
    top: 13px;
}