extends ../layout

block styles_before
    link(rel='stylesheet', href='/css/separate/vendor/tags_editor.min.css')
    link(rel='stylesheet', href='/css/separate/vendor/bootstrap-select/bootstrap-select.min.css')
    link(rel='stylesheet', href='/css/separate/vendor/select2.min.css')

block content

    .container-fluid
        header.section-header
            .tbl
                .tbl-row
                    .tbl-cell
                        h3 Cadastro de Usuário
        .box-typical.box-typical-padding
            form#myform(action = mode == "create" ? "/usuarios": "/usuarios/" + one._id, method="POST")
                .row
                    .col-lg-4
                        fieldset.form-group
                            label.form-label() Tipo
                            select.select2#tipo(name='tipo', data-validation='[NOTEMPTY]', data-title="Tipo", multiple="multiple")
                                option(data-icon='font-icon-home', value='') Selecione o tipo
                                option(value="ADMIN", selected=one.tipo.includes('ADMIN')) Administrador
                                option(value="COMUM", selected=one.tipo.includes('COMUM')) Comum
                                option(value="COMUM", selected=one.tipo.includes('SECRETARIA')) secretaria

                    .col-lg-4
                        fieldset.form-group
                            label.form-label.semibold Nome
                            input.form-control(name="name", type='text', placeholder='Nome' data-validation='[NOTEMPTY]', data-title="Nome", value=one.name)

                    .col-lg-4
                        fieldset.form-group
                            label.form-label.semibold Usuário
                            input.form-control.not-uppercase(name="username", type='text', placeholder='Usuário' data-validation='[NOTEMPTY]', data-title="Usuário", value=one.username)

                    .col-lg-4
                        fieldset.form-group
                            label.form-label.semibold E-mail
                            input.form-control.not-uppercase(name="email", type='text', placeholder='E-mail' data-validation='[NOTEMPTY]', data-title="E-mail", value=one.email)
                    if mode != 'edit'
                        .col-lg-4
                            fieldset.form-group
                                label.form-label.semibold Senha
                                input.form-control.not-uppercase(name="password", type='password', placeholder='Senha' )

                    if mode == 'edit'
                        .col-lg-4
                            fieldset.form-group
                                label.form-label.semibold Nova Senha
                                input.form-control.not-uppercase(name="new_password", type='text', placeholder='Nova senha'  value=one.new_password)


                if mode == 'create'
                    .row
                        .col-md-12g
                            //p OBS: A senha do usuário será gerada e enviada por e-mail.

                hr

                .row
                    .col-md-12
                        a.btn.btn-danger.pull-left(href="/usuarios") Voltar
                        button.btn.btn-primary.pull-right(type="submit") Enviar



block scripts_before_app
    script(src='/js/lib/html5-form-validation/jquery.validation.js')
    script.
        $('#myform').validate({
            submit: {
                settings: {
                    inputContainer: '.form-group'
                }
            }
        })
    script(src='/js/lib/jquery-tag-editor/jquery.caret.min.js')
    script(src='/js/lib/jquery-tag-editor/jquery.tag-editor.min.js')
    script(src='/js/lib/bootstrap-select/bootstrap-select.min.js')
    script(src='/js/lib/select2/select2.full.min.js')
block scripts
